{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie nowej faktury</title>
        <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
    >
</head>
<body>
    <div class="container">
        <form method="POST" class="post-form" action="{% url 'new' %}">
              <div class="form-group">
                  {% csrf_token %}
                  <input id="id" name="id" type="hidden" value="{{ fv.id }}">
                  <p>Nazwa: {{ form.client }}</p>
                  <p>Adress: {{ form.address }}</p>
                  <p>NIP: {{ form.nip }}</p>
                  <p>Data ukończenia: {{ form.complete_date }}</p>
                  <p>Forma płatności: {{ form.payment_method }}</p>
                  <p>IBAN: {{ form.iban }}</p>
                  <p>Lista przedmiotów dodanych do faktury:</p>
                  <p>Kliknięcie na daną pozycję juz wybraną usuwa ją; wyszukanie w polu ponieżej i wybranie nowego
                     elementu doda go do faktury.</p>
                  {% for item in fv.products.all %}
                      <p onclick="removeThis(this, {{ item.id }})" value="{{ item.id }}"> {{ item.name }} | {{ item.price }}</p>
                  {% endfor %}
                  <input id="products_id" name="products_id" type="hidden" value="{{ curr }}">
                  <input class="search-bar" type="text" size="30" onkeyup="showResult(this.value)">
                  <div id="livesearch"></div>
                  <span id="add-new" onClick="addNext()">+ Dodaj następny przedmiot</span>
                  <br />
                <input type="submit" />
              </div>
        </form>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>

    <script src="{% static 'fakturownia/fv.js' %}"></script>


</body>
</html>